AddDefaultCharset UTF-8
Options All -ExecCGI -Indexes -MultiViews +FollowSymLinks

php_value date.timezone Europe/Moscow
php_flag display_errors on
php_value error_reporting -1

ErrorDocument 403 /ui/403.html
ErrorDocument 404 /ui/404.html
ErrorDocument 500 /ui/500.html

RewriteEngine On

# SEO
#RewriteCond %{HTTP_HOST} ^www.blog.io$ [NC]
#RewriteRule (.*) http://blog.io/$1 [R=301,L]

# Requests redirecting
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) ./index.php?%{QUERY_STRING} [L]

# Hotlink protection
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://blog.io [NC]
#RewriteRule \.(gif|jpe?g|png)$ - [F,L]

# Caching
<ifModule mod_expires.c>
    ExpiresActive On
    <FilesMatch "\.(html?|css|js)$">
        ExpiresDefault "access plus 1 week"
    </FilesMatch>
    <FilesMatch "\.(ico|jpe?g|png)$">
        ExpiresDefault "access plus 1 month"
    </FilesMatch>
</ifModule>

<ifModule mod_headers.c>
    <FilesMatch "\.(html?|js|css)$">
        Header set Cache-Control "max-age=648000"
    </FilesMatch>
    <FilesMatch "\.(ico|jpe?g|png)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
</IfModule>

# Compress files
<ifModule mod_deflate.c>
    <FilesMatch ".(html?|js|css|ico|jpe?g|png)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</ifModule>

<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file \.(html|css|js|ico|jpe?g|png)$
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>