@import url("/ui/css/common.css");
@import url("/ui/css/forms.css");
@import url("/ui/css/headers.css");
@import url("/ui/css/lists.css");
@import url("/ui/css/links.css");

p:first-child {
    float: left;
}

p:last-child {
    float: right;
}

li {
    display: block;
    overflow: hidden;
    clear: both;
    margin-bottom: 0.65rem;
}

li:nth-last-of-type(2) {
    margin-top: 0.9rem;
    text-align: right;
}

li:last-child {
    margin: 1.15rem 0 0;
}

input[type = "submit"]:first-child {
    margin-right: 1rem;
}