h1 {
    margin-bottom: 1.35rem;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    margin-bottom: 1.15rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
}

h3 {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 400;
}

@media (max-device-width: 720px) {
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }
}